{% extends "index.html" %}

{% block title %} ESCRITORIO {% endblock %}
{% block title-content %}
<div class="alert alert-primary mt-2" role="alert">
    <h4 class="alert-heading">ESCRITORIO</h4>
    <p>ESCRITORIO</p>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card bg-light mb-3">
            <div class="card-header">ESCRITORIO</div>
            <div class="card-body">
                <h5 class="card-title">ESCRITORIO</h5>
                <p class="card-text">ESCRITORIO</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}