{% extends "index.html" %}

{% block title %}GUI{% endblock %}
{% block title-content %}
<div class="alert alert-primary mt-2" role="alert">
    <h4 class="alert-heading">GUI de Minería de Datos</h4>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                El presente proyecto tiene como objetivo crear una aplicación web que permita a los usuarios de
                diferentes sectores sociales realizar un análisis de datos mediante una fuente de datos y aplicando una
                serie de algoritmos en Minería de Datos que permita el estudio, análisis o fin personal que el usuario
                aqueje.
            </div>
            <div class="card-body">
                Algoritmos que se pueden usar:
            </div>
            <ul class="list-unstyled">
                    <ul>
                        <li>Análisis Exploratorio de Datos EDA</li>
                        <li>Análisis de Componentes Principales PCA</li>
                        <li>Clustering Particional</li>
                        <li>Regresión Logística</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}