{% extends "index.html" %}

{% block title %}Regresion{% endblock %}
{% block title-content %}
<div class="alert alert-primary mt-2" role="alert">
    <h4 class="alert-heading">Regresión Logística</h4>
    <h6 class="alert-heading">Se utiliza una matriz de correlaciones con el propósito de definir un grupo de características significativas:</h6>
    {% for col in keysReg %}
    <a class="py-2 d-none d-md-inline-block" style="color: black;" href="{% url 'RegresionMat' col %}">
        {{col}}
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="display:inline;">
        <h4 class="alert-heading">Primeros 10 registros de la tabla</h4>
        {{ DatosRegHTMLtop | safe }}
    </div>
    <div class="row">
        <h4 class="alert-heading">Matriz de correlaciones</h4>
        <img src="{{ correlaciones |safe }}" class="img-fluid" alt="Responsive image">
    </div>
</div>
{% endblock %}