{% extends "index.html" %}

{% block title %}RegresionMat{% endblock %}
{% block title-content %}
<div class="alert alert-primary mt-2" role="alert">
    <h4 class="alert-heading">Regresión Logística</h4>
    <h6 class="alert-heading">Se utiliza una matriz de correlaciones con el propósito de definir un grupo de características significativas:</h6>
    <a class="py-2 d-none d-md-inline-block" style="color: black;" href="{% url 'Regresion' %}">
        REGRESAR
    </a>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <img src="{{ RegresionMat | safe }}" style="height: 1000px; width: 1000px;">
</div>
{% endblock %}