{% extends "index.html" %}

{% block title %} SHA {% endblock %}
{% block title-content %}
<div class="alert alert-primary mt-2" role="alert">
    <h4 class="alert-heading">SHA algorithm</h4>
    <p>Test with the {{listvector}} vectors.</p>
</div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="card bg-light mb-3">
            <div class="card-header">EXECUTION TIMES HASH</div>
            <div class="card-body">
                <h5 class="card-title">HASH time with 5000 records</h5>
                <p class="card-text">SHA384: {{ listaTmpoSHA384 }}</p>
                <p class="card-text">SHA512: {{ listaTmpoSHA512 }}</p>
                <p class="card-text">SHA3_384: {{ listaTmpoSHA3_384 }}</p>
                <p class="card-text">SHA3_512: {{ listaTmpoSHA3_512 }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="bg-success" style="color: white;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">listaTmpoSHA384</th>
                    <th scope="col">listaTmpoSHA512</th>
                    <th scope="col">listaTmpoSHA3_384</th>
                    <th scope="col">listaTmpoSHA3_512</th>
                </tr>
            </thead>
            <tbody>
                <!-- -->
                {% for item1, item2, item3, item4 in timelist %}
                <tr>

                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{item1}}</td>
                    <td>{{item2}}</td>
                    <td>{{item3}}</td>
                    <td>{{item4}}</td>

                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>


{% endblock %}